* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    padding: 0;
    margin: 0;
}

.rectangle-div {
    width: 100%;
    height: 100%;
    border-radius: 57px 48px 20px 20px;
    background: linear-gradient(180deg, #544657 0%, #658EAB 100%);
}

/* Estilo del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #849fd0;
    padding: 1rem;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggle {
    display: none; /* Oculta el botón de hamburguesa por defecto */
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Transición para efecto visual */
}

.navbar-toggle.active .hamburger-icon {
    transform: rotate(45deg); /* Rotación del icono al hacer clic */
}

.navbar-toggle.active .hamburger-icon:before,
.navbar-toggle.active .hamburger-icon:after {
    top: 0;
    transform: rotate(90deg); /* Ajustes para transformación completa */
}

.navbar-toggle.active .hamburger-icon:after {
    transform: rotate(-90deg); /* Segunda transformación para la cruz */
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
}

.navbar-item {

}

.navbar-link {
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        width: 100%;
        display: none; /* Oculta el menú en dispositivos móviles por defecto */
        position: absolute;
        top: 5rem; /* Ajusta la posición del menú desplegable */
        left: 0;
        background-color: #7CA5A3; /* Color de fondo del menú desplegable */
        padding: 1rem;
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.1); /* Sombra para el menú desplegable */
    }

    .navbar-menu.active {
        display: flex; /* Muestra el menú cuando está activo */
    }

    .navbar-item {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem; /* Espaciado entre elementos del menú */
    }

    .navbar-link {
        display: block;
        width: 100%;
    }

    .navbar-toggle {
        display: block; /* Muestra el botón de hamburguesa en dispositivos móviles */
    }
}

/* Title */
.foros-de-discusin {
    max-width: 100vw; /* Limita el ancho máximo al 100% del ancho de la vista */
    font-size: 4vw; /* Ajusta el tamaño de fuente relativo al ancho de la vista */
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura relativa a la altura de la vista */
    margin: 50px;
}

/* Media Query para ajustar el tamaño del título en dispositivos móviles */
@media (max-width: 768px) {
    .foros-de-discusin {
        font-size: 13vw; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
        text-align: center; /* Centra el texto en dispositivos móviles */
        margin: 3px 0; /* Ajusta el margen vertical */
        margin-left: -4px;
        margin-top: 40px;
    }

}

/* Cards */
.container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.item-1 {
    border-radius: 20px;
    background-color: #B2D2EA;
    width: 100%;
    max-width: 100%;
    margin: 30px;
    padding: 20px; /* Añadido relleno para separar del borde exterior */
    box-sizing: border-box; /* Asegura que el relleno no incremente el tamaño total */
    display: flex;
    justify-content: center; /* Centra los elementos en el eje horizontal */
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas */
}

.box {
    margin-left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 30px; /* Añadido para que la imagen tenga bordes redondeados */
    margin-right: 4.9em;
}

.box-2 {
    width: 80%;
    max-width: 100%; /* Ajustado al 100% del ancho disponible */
    height: auto;
    background-color: #99BDD9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; /* Añadido relleno para separar del borde exterior */
    box-sizing: border-box; /* Asegura que el relleno no incremente el tamaño total */
    margin-top: 30px; /* Añadido margen superior para separar del elemento superior */
}

.box-2 p {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-top: 10px; /* Reducido el margen superior para pantallas pequeñas */
    margin-bottom: 10px; /* Añadido margen inferior para separar del elemento inferior */
}

.box-2 a {
    background-color: #424141;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px; /* Espacio superior ajustado */
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
    .item-1 {
        flex-direction: column; /* Asegura que los elementos se apilen en columnas */
        align-items: center; /* Centra los elementos verticalmente */
        width: 83%;
    }

    .item-1 .box-2 {
        width: 90%;
        max-width: 100%; /* Ajustado al 100% del ancho disponible */
        margin: 20px auto; /* Centrado horizontal y ajuste de margen */
    }

    .box-2 p {
        font-size: 16px; /* Reducido el tamaño de fuente para pantallas pequeñas */
    }

    .box-2 a {
        font-size: 20px; /* Reducido el tamaño de fuente para pantallas pequeñas */
        width: 100%; /* Ancho completo para ocupar todo el espacio disponible */
        max-width: 300px; /* Ancho máximo para evitar que se expanda demasiado */
    }
    .box img {
        width: 250px;
        margin-left: 20px;
    }
}
