* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    border-radius: 57px 48px 20px 20px;
    background: linear-gradient(180deg, #422D47 0%, #4F415A 28.5%, #516D82 78.5%);
}

.font-core {
    font-family: "Nunito", serif;
}

.subtitles {
    font-weight: lighter;
    font-style: italic;
}


header h1 {
    cursor: pointer;
    margin: 0;
}

li {
    color: white;
    padding: 0 1em;
    font-weight: 700;
}

li:hover {
    color: black;
}

button {
    border-radius: 10px;
    border: none;
    background-color: #A4AF93;
    padding: .2em 1em;
    color: white;
    margin: 1em 0;
    font-size: 1.3em;
    font-weight: bold;
    transition: all .5s;
    width: 350px;
    height: 45px;
}

button:hover {
    transition: all .5s;
    background-color: white;
    color: #A4AF93;
}

.card {
    background-color: #DBEBC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    border-radius: 20px;
}

.card .imagen {
    margin-bottom: 1em;
}

.container-opiniones {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin: 0 16em;
}

.container-opiniones .card {
    width: 18em;
    padding: 1em;
}

.container-opiniones button {
    border-radius: 50%;
    padding: 1em;
}

.container-comunidad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container-comunidad .card .imagen {
    width: 100%;
}

.container-comunidad div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto-preguntas {
    border-radius: 20px;
    font-size: .8em;
}

.texto-preguntas h2 {
    font-weight: 900;
}

.texto-preguntas p {
    font-weight: 0;
}

footer img {
    height: 1em;
    width: 1em;
}

.horizontal-line {
    width: calc(100% - 40px);
    height: 3px;
    margin: 20px auto;
    background: linear-gradient(to right, white, black);
}

.title-cta {
    font-weight: bold;
}

.nav-title {
    font-weight: bold;
    font-size: 30px;
}

.titles-section {
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin-top: 100px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.comunity {
    width: 100%;
    height: auto;
}

#curso {
    margin-bottom: 30px;
}

#title-mini {
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p-faqs {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.img-cta-top {
    width: 100%;
    height: auto;
}

.cta-footer-title {
    width: 100%;
    color: #FFF;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ElPrimerPasoHaciaTusMetasEmpiezaAhoraNoLoPospongas {
    width: 100%;
    color: white;
    font-size: 27px;
    font-family: Nunito;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;
}


/* Responsive Styles */
@media (max-width: 768px) {

    .responsivo-opinion{
        display: none;
    }

    .header, .footer, .main, .container, .row, .col, .card, .button, .nav, .img-cta-top, .comunity, .titles-section, .cta-footer-title, .ElPrimerPasoHaciaTusMetasEmpiezaAhoraNoLoPospongas {
        padding: 10px;
        text-align: center;
    }

    .titles-section {
        font-size: 40px;
    }

    .cta-footer-title {
        font-size: 40px;
    }

    .button {
        width: 100%;
    }

    .card-img-top, .comunity {
        width: 100%;
        height: auto;
    }

    .container-opiniones{
        margin: 0;
    }

    .container-comunidad {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .navbar-nav {
        text-align: center;
    }

    .ElPrimerPasoHaciaTusMetasEmpiezaAhoraNoLoPospongas {
        font-size: 18px;
    }
}